{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if house.image %}
                <img src="{{ house.image.url }}" class="img-fluid rounded" alt="{{ house.titre }}">
            {% else %}
                <img src="/static/images/default-house.jpg" class="img-fluid rounded" alt="Default house image">
            {% endif %}
            <h2 class="mt-4">{{ house.titre }}</h2>
            <p class="text-muted">{{ house.adresse }}</p>
            <p>{{ house.description }}</p>
            <p class="h4">€{{ house.prix_par_nuit }} per night</p>
            {% if house.disponible %}
                <a href="{% url 'create_reservation' house.id %}" class="btn btn-primary">Book Now</a>
            {% else %}
                <button class="btn btn-secondary" disabled>Not Available</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}